* {
  margin: O;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 97.5%;
  padding-left: 2.5%; }

.general:hover {
  transform: scale(1.1, 1.1); }

.contenedorcamba {
  background-color: whitesmoke; }
  .contenedorcamba .nos {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px; }
  .contenedorcamba .seccion1 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px; }
  .contenedorcamba .seccion2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorcamba .seccion3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    border-color: black;
    border-style: groove;
    margin: 20px; }
  .contenedorcamba .galeria img {
    width: 90%;
    height: 200px;
    border: 5px solid black; }
  .contenedorcamba .galeria img:hover {
    transform: scale(2, 2);
    border: 5px solid black; }
  .contenedorcamba .col-lg-4 {
    padding: 25px; }
  .contenedorcamba .general:hover {
    transform: scale(1.1, 1.1); }
  .contenedorcamba .videocamba {
    border-radius: 10px;
    border: 5px solid black;
    margin: 20px; }
