.general {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    .card {
        color: white;
        background-color: red;
        width: 75%;
        .card-title {
            text-align: center;
          }
      }

  }