@media (min-width: 700px) {
    .formulario{
      padding: o 4rem;
    }
    .contenedorambos{
      display: grid;
      grid-template-columns:  2fr 1fr;
    }
    .form2 ul,
    .form2 p{
      padding: 1em;
      text-align: left;
    }
    .form2 h4{
      text-align: center;
      padding: 2em;
    }
  }      