@mixin header ($imagen) {
    width: 100%;
    height: 100vh;
    background-image: ($imagen);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .logo{
        width: 50px;
    }
    
} 
.headerindex{
    @include header(url(/shows/bola2.jpg))
}
.headerbandas{
    @include header(url(/shows/notas.jpg))
}
.headerbatucada{
    @include header( url(/shows/mascaras3.jpg))
}
.headermaquillaje {
    @include header(url(/shows/galaxia.jpg))
}
.headermagia{
    @include header(url(/shows/magia2.jpg))
}
.headernosotros {
    @include header(url(/shows/nosotros1.jpg))
}
.headercontacto{
    @include header(url(/shows/contacto.jpg))
}